.egiotestimonials-forms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.egiotestimonials-forms .btn-save {
    background-color: white;
    color: #ff9a52 !important;
    border: 1px solid #ff9a52 !important;
    margin: 0 auto;
    display: block;
    font-weight: bold;
}

.egiotestimonials-forms .card{
    background-color: white;
    padding: 30px;
}

.testimonials-list{
    text-align: center;
}

.testimonials-list-head{
    font-weight: 900;
}